<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Wavers Alert</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            width: 100%;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .header {
            padding: 10px 0;
            background-color: #f4f4f4;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .header img {
            width: 50px;
            height: auto;
        }

        .header h1 {
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: 800;
            color: #008080;
            margin: 0 0 0 15px;
        }

        .body {
            margin-top: 20px;
        }

        .alert-details {
            font-size: 14px;
            color: #333;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <img src="https://res.cloudinary.com/lahri/image/upload/v1726333240/disax/tnbbn9m9vpueskb66qd3.png"
                alt="Climate Wavers Logo">
            <h1>Disaster Alert in <%= city %>
            </h1>
        </div>

        <!-- Body -->
        <div class="body">
            <div class="alert-details">
                <p>Attention: A <%= type %> has been reported in <%= city %>. This situation is ongoing, and it is
                            important to stay
                            informed.</p>

                <p>For your safety:</p>
                <ul>
                    <li>Remain indoors and avoid the affected area if possible.</li>
                    <li>Follow local authorities' instructions and stay tuned to official updates.</li>
                    <li>Prepare an emergency kit and ensure you have necessary supplies.</li>
                </ul>

                <p>We are monitoring the situation closely and will provide updates as they become available.</p>

                <p>Thank you for your attention and cooperation.</p>
            </div>
        </div>
    </div>
</body>

</html>