<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email verification</title>
</head>
<body>
    <h1>click the <a href="<%= url %>">link below</a> to verify your account</h1>
    <p>If the link above doesn't work, click the botton below</p>
    <a href="<%= url %>">Verify account</a>
</body>
</html>
